[Unit]
Description=Configure expansion board on startup
After=multi-user.target

[Service]
Type=oneshot
User=modpi
WorkingDirectory=/opt/modpi
ExecStart=/usr/bin/python3 /opt/modpi/exp-config.py --led-mode 4 --fan-threshold 50,65 --save
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
